@mixin flex-basic($jcode,$icode,$wrap,$direction){
    display:flex;
    @if $wrap != '' {
        flex-wrap: wrap($wrap);
    }
    @else{
        flex-wrap:wrap;
    }
    @if $direction != '' {
        flex-direction:direction($direction);
    }
    @else {
        flex-direction:row;
    }
    justify-content: c-pos($jcode);
    align-items: i-pos($icode);
}


